h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    width: 100%;
}

.detail{
   font-size: 45px;
}
.btn{
    border-radius: 34px;
    width: 300px;
    height: 54px;
    font-size: 25px;
}


table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 10%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
 th{
    background-color: #f0f0f0;
  }